@model System.String

@{
    ViewBag.Title = "Они обедают в офисе";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Ой, что-то пошло не так...
    </div>

    <div class="panel-body row">
        <div class="col-md-4">
            <img src="~/Content/Images/error.gif" alt="Все плохо" class="img-thumbnail" style="width:50%" />
        </div>
            <div class="col-md-7 alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Непредвиденная ошибка. Повторите попытку еще раз.
            </div>
        </div>

    <div class="panel-footer">
        
    </div>
</div>
